.inputext1 {
    margin-top: 6px;
    position: relative;

}
.inputext1 svg{
  position: absolute;
  padding-left : 12px;
  padding-top: 13px;
}
.vertical-line1 {
  position:absolute;
  width: 2px; /* Adjust the width as needed */
  height: 15px; /* Sets the height of the line to the full height of the viewport */
  background-color: #878787;
  margin-left: 40px;
  margin-top: 14px; 
  /* Adjust color as needed */
}
.inputext1 input{
    width: 425px;
height: 47px;
flex-shrink: 0;
border-radius: 18px;
background: #F5F5F5;
border :#F5F5F5;

padding-left: 50px;
font-size : 16px
}
.inputext1 {
  margin-top: 6px;
  position: relative;

}

  .title1{
    color: #000;
   font-family: "inter";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-left: 22px;
   margin-top: 51px;
    

  }
 .icon{

 }
 .textfield1{
  margin-left: 5%;

 }