.titre {
    color: #000;
    font-family: "inter";
    font-size: 36.469px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
<<<<<<< HEAD
    margin-left: 174px;
    
=======
    margin-left: 81px;
>>>>>>> bf853e4e768438ccfec2df4ad2923dd4fde8789f
}