.demiorange{
    
    background-color: #FF5722;
    color: #FFF;
    

font-family: Inter;
font-size: 4.5vw;


line-height: normal;
padding-bottom: no;
    
}
.Demi_orange h3{
    margin-bottom: 1px;
    margin-left: 80px;
width: 90%;
}
.Demi_orange p{
    font-size: 1.3vw;
    padding-left: 12%;

}
.Demi_orange a{
    color: #FFF;
    padding-left: 12%;
    
}