.inputext3 {
    margin-top: 6px;
    position: relative;

}

.inputext3 svg{
    position: absolute;
    padding-left : 12px;
    padding-top: 13px;
}
.inputext3 input{
    border-radius: 40px;
border: 2px solid #C1C1C1;
width: 518px;
height: 40px;
background: #FFF;
padding: 5px , 10px , 5px, 30px;
text-align:justify ;
padding-left: 50px;
font-size : 16px
}
.vertical-line {
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #878787;
  margin-left: 42px;
  margin-top: 14px;
  }
  .title{
    margin-left : 17px;
    color: #878787;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .textfield{
    padding-bottom: 20px;
  }