.InfoPassword {
    margin-top: -758px;
    margin-left: 779px;
    width: 531px;
    height: 502px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}
.titre4{
    color: var(--TailGrids-Black-Color, #212B36);
    font-family: "Segoe UI";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    margin-left: 51px;
    padding-top: 1px;
}
.Passwd-Form{
    margin-left:45px;
}