.InfoPassword {
    margin-top: -758px;
    margin-left: 779px;
    width: 531px;
    height: 490px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}
.titre4{
    color: var(--TailGrids-Black-Color, #212B36);
    font-family: "Segoe UI";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    margin-left: 51px;
    padding-top: 1px;
}
.Passwd-Form{
    margin-left:45px;
}
.lenth{
    margin-left: 20%;
    margin-top: -17%;
    
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.error-message {
    animation: shake 0.2s linear 2;
}