.forgetpasswd a{
    color: #FF5722;
    ;
    
}
.socialmedia {
    margin-left: 15%;
    align-items: center;
    text-align: center;

}
.facebook{
    margin:0px 30px 0px 30px;
}
.back{
    margin-left: -50px;
}